body {
  box-sizing: border-box;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td {
  border: 1px solid #050505;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #ddd;
}

#title-section {
  display: flex;
  justify-content: center;
}

#title-div {
  width: 500px;
}

#main-section {
  display: flex;
  justify-content: center;
}

#section-div {
  display: flex;
  width: 500px;
  justify-content: space-between;
}

#score-title {
  display: flex;
  justify-content: space-between;
}

#score-btn {
  height: 10%;
  align-self: center;
}

#table {
  width: 250px;
}

#submit-btn {
  width: 30%;
  justify-self: center;
  align-self: flex-end;
}

#form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
